@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.eot');
    src: url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 
inspiration/help
https://sbxow.csb.app/  
https://www.youtube.com/watch?v=qJf8N46OEMk */


/* freecodecamp requirements */
#header{

}

#nav-bar{

}

.nav-link{

}

nav{
  font-family: CircularStd-Bold, Helvetica;
  position: fixed;
  top: 0px;
  width: 100%;
}

/* general */
html{
  scroll-behavior: smooth;
}

body{
  background-color: #FCFDFC; 
  overflow-x: hidden;
}

h1{
  font-family: CircularStd-Bold, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 50px;
  color: #232021;

}

a{
  text-decoration: none;
}

/* section */

/* grid */

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 80px)) 1fr;
  grid-gap: 20px;
  padding: 60px 0;
  border: solid yellow 1px;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 80px));
  grid-gap: 20px;
}

.h1-style{
  grid-column-end: span 12;
  display: flex;
  flex-direction: column;
}


/* card - design */

.card{
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 12px #EEF0F0;
  transition: 0.4s;
}

.card__image-container{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 193px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__image-container img {
  width: 100%;
  position: absolute;
}

.card:hover {
  box-shadow: 0px 3px 12px #DDDDDD;
  transform: scale(1.05);
}


@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 550px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
  .h1-style{
  grid-column-end: span 6;
  }
}

/* previous card design code
.card{
  width: 260px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 12px #EEF0F0;
  transition: 0.4s;
  cursor: pointer;
} 

.card-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E1E3E3;
  width: 260px;
  height: 193px;
  overflow: hidden;
}
*/



/* card - typography */

p.subtitle{
  font-family: CircularStd-book, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #232021;
  margin: 13px 15px 8px 15px;
}

p.text{
  font-family: CircularStd-Book, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #8F969C;
  margin: 0px 15px 0px 15px;
}

